<table style="width:100%;height:100%">
  <tr>
    <th class="code-editor">
      <div class="m-3 code-editor-controls">
        {{#bs-button type="warning" onClick=(action "submitPad" model)}}
          Submit
        {{/bs-button}}
        <select onchange={{action (mut model.language) value="target.value"}}>
          {{#each supportedLanguages as |rec|}}
            <option selected={{eq rec model.language}} value={{rec}}>{{rec}}</option>
          {{/each}}
        </select>
      </div>
      {{ember-ace showPrintMargin=false theme="ace/theme/monokai"
                  lines=30 mode=(concat "ace/mode/" model.language)
                  value=model.content update=(action (mut model.content))}}
    </th>
    <th class="code-output">
      {{#result-container resultId=model.result_id padId=model.id}}
        {{load-spinner show=showLoader}}
      {{/result-container}}
    </th>
  </tr>
</table>