<div>
  <div class="row">
    <div class="col-6">
      <div class="code-editor d-inline-block">
        {{load-spinner show=showLoader}}
        <div class="m-3 code-editor-controls">
          <input type="text" class="pad-title" value={{model.filename}} onchange={{action (mut model.filename) value="target.value"}}>
          <select class="custom-select custom-select-sm col-2" disabled={{showLoader}} onchange={{action (mut model.language) value="target.value"}}>
            {{#each supportedLanguages as |rec|}}
              <option selected={{eq rec model.language}} value={{rec}}>{{capitalize rec}}</option>
            {{/each}}
          </select>
        </div>
        {{ember-ace showPrintMargin=false theme="ace/theme/monokai"
                    lines=30 mode=(concat "ace/mode/" model.language)
                    value=model.content update=(action (mut model.content))}}
      </div>
    </div>
    <div class="col-6">
      <div class="code-output d-inline-block">
        {{#result-container resultId=model.result_id padId=model.id removeLoader=(action 'removeLoader')}}

        {{/result-container}}
      </div>
    </div>
  </div>
  <div class="m-3 text-center">
    {{#bs-button type="success btn-lg" onClick=(action "submitPad" model)}}
      Submit
    {{/bs-button}}
  </div>
</div>